server:
  port: 8888

spring:
  application:
    name: configuration-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/lahumisal/school_server_config.git
          clone-on-start: true
          default-label: main
